@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-display: swap;
}

:root {

  /* Colors */
  --color-primary-soft-orange: hsl(35, 77%, 62%);
  --color-primary-soft-red: hsl(5, 85%, 63%);

  --color-neutral-off-white: hsl(36, 100%, 99%);
  --color-neutral-grayish-blue: hsl(233, 8%, 79%);
  --color-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-neutral-very-dark-blue: hsl(240, 100%, 5%);

  /* Typograpfhy */
  --font-size-body-paragraph: 15px;
  --font-family: "inter";
  --font-weight-400: 400;
  --font-weight-700: 700;
  --font-weight-800: 800;
}

ol {
  padding-left: 0px;
  list-style: none;
}