@import './global_styles.css';

@font-face {
  font-family: "inter";
  src: url("/fonts/Inter-VariableFont_slnt,wght.ttf");
  font-display: swap;
}
h1 {
  font-size: 2.5em;
  font-weight: var(--font-weight-800);
}
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  padding-right: 20px;
  overflow-x: hidden;
  background-color: var(--color-neutral-off-white);
  font-family: var(--font-family);
}

.hidden-scroll {
  overflow-y: hidden;
}

/*header*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.header .logo,
.bar-icon {
  padding: 20px;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.header .nav {
  position: fixed;
  background-color: hsl(36, 100%, 99%);
  top: 0;
  right: -1px;
  font-weight: var(--font-weight-400);
  transform: translateX(100px);
  height: 100vh;
  transition: all 0.3s ease;
  z-index: 1;
  filter: none;
}

.header .active {
  width: 70%;
  filter: none;
  transform: translateX(0);
  background-color: hsl(36, 100%, 99%);
}

.header .nav .list-links {
  margin-top: 80px;
}

.header .nav .list-links a {
  display: inline-block;
  margin-top: 30px;
  font-weight: var(--font-weight-700);
  color: var(--color-neutral-dark-grayish-blue);
}

.header .nav .list-links a:hover {
  color: var(--color-primary-soft-orange);
}
/*---*/

/*Main*/

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 12px 0px 12px;
}

.main .main-home .main-info {
  line-height: 1.9em;
  color: var(--color-neutral-dark-grayish-blue);
  margin-bottom: 25px;
}
.main .main-home .main-info .btn {
  background-color: var(--color-primary-soft-red);
  color: var(--color-neutral-off-white);
  letter-spacing: 0.4em;
  border: none;
  padding: 13px 30px;
  font-size: 14px;
  font-weight: var(--font-weight-700);
  cursor: pointer;
}

.main .main-home .img-home {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

/*aside*/

.aside {
  background-color: var(--color-neutral-very-dark-blue);
  padding: 10px 30px;
}

.aside .aside-title {
  font-size: 2em;
  font-weight: var(--font-weight-800);
  color: var(--color-primary-soft-orange);
}
.aside .article-news {
  padding-top: 20px;
}
.aside .article-news a {
  color: var(--color-neutral-off-white);
}
.aside .article-news a:hover {
  color: var(--color-primary-soft-orange);
}

.aside .article-news p {
  padding-bottom: 10px;
  color: var(--color-neutral-grayish-blue);
}

/*notices*/

.notices {
  margin-top: 20px;
}

.notices .notices-art {
  width: 100%;
  display: flex;
  margin: 25px 0px 25px;
}

.notices .notices-art img {
  width: 120px;
  object-fit: contain;
}

.notices .notices-description {
  width: 100%;
  padding: 20px;
}
.notices .notices-description * {
  margin: 0;
}

.notices .notices-description h4 {
  font-size: 2.5em;
  color: var(--color-neutral-grayish-blue);
  font-weight: var(--font-weight-800);
}
.notices .notices-description a {
  font-size: 17px;
  padding: 10px 0px;
  color: var(--color-neutral-very-dark-blue);
  font-weight: var(--font-weight-800);
}
.notices .notices-description a:hover {
  color: var(--color-primary-soft-orange);
}

.notices .notices-description p {
  line-height: 30px;
  color: var(--color-neutral-dark-grayish-blue);
}

@media (min-width: 1265px) {
  body {
    margin: 0px 50px;
  }

  .main .home {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .aside {
    margin: 0px 20px;
  }

  .main-title h1 {
    padding: 0px 30px;
  }

  .home-description {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }

  .notices {
    display: flex;
  }

  .bar-icon {
    display: none;
  }

  .header .nav {
    position: relative;
    top: -50px;
    height: auto;
    transform: translateX(0);
  }

  .list-links {
    display: flex;
    flex-wrap: nowrap;
  }

  .header .nav .list-links a {
    margin: 10px 20px;
    font-size: medium;
    font-weight: var(--font-weight-400);
  }
}
